<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>ブログカード作成サイト</title>
</head>
<body>
    <div class="title">
        <h1>ブログカード作成</h1>
    </div>
    <div class="create">
        <form method="POST">
            <h3>URLを入力してください</h3>
            <input type="text" name="url" style="width: 300px;" class="url-input"><br>
            <input type="submit" value="作成" class="submit-input">
        </form>
    </div>
</body>
</html>